<h1><%= @piece.name %></h1>
<p>Catégorie : <%= @piece.category %> | Sous-catégorie : <%= @piece.subcategory %></p>

<p><strong>Description</strong></p>
<p><%= @piece.description %></p>


<%= link_to "Retour à toutes les pièces", pieces_path %>
